.whr-detail-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
}

.whr-detail-overlay.is-hidden {
    display: none;
}

.whr-detail-overlay p {
    font-size: 1em;
    text-align: center;
    color: #666;
    margin: 0;
    z-index: 20;
}

.whr-detail-overlay__opaquebg {
    position: absolute;
    left: 0;
    top: 0;
	width: 100%;
    height: 100%;
    opacity: 0.95;
    z-index: 10;

    background: radial-gradient(white 30%, #e6e5e5);
}

.whr-detail-overlay__iconblock {
    position: absolute;
    left: 0;
    top: 0;
	width: 50px;
    height: 100%;
    background: #fafafa;
    z-index: 10;
}

.whr-list-rating-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: white;
}

.search-result__container:hover .whr-list-rating-overlay {
    background: #FEF8EA;
}

.candidate.candidate--selected .whr-list-rating-overlay {
    background: #fffad8
}

.whr-sm-txt {
    font-size: 10px;
}
