.workable-ext-rating-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
}

.workable-ext-rating-overlay.is-hidden {
    display: none;
}

.workable-ext-rating-overlay p {
    font-size: 1em;
    text-align: center;
    color: #666;
    margin: 0;
    z-index: 20;
}

.workable-ext-rating-overlay__opaquebg {
    position: absolute;
    left: 0;
    top: 0;
	width: 100%;
    height: 100%;
    opacity: 0.95;
    z-index: 10;

    background: radial-gradient(white 30%, #e6e5e5);
}

.workable-ext-rating-overlay__iconblock {
    position: absolute;
    left: 0;
    top: 0;
	width: 50px;
    height: 100%;
    background: #fafafa;
    z-index: 10;
}

.workable-ext-rating-summary-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: white;
}

